@import "tailwindcss";

@plugin "tailwindcss-animate";

@layer base {
	button,
	[role="button"] {
		cursor: pointer;
	}
}

@theme {
	--font-sans: "Montserrat", sans-serif;
	--font-work-sans: "Work Sans", sans-serif;
}

@layer utilities {
	.border-default {
		border-color: #e1e3ea;
	}
}

.filter-orange {
	filter: invert(55%) sepia(98%) saturate(1268%) hue-rotate(359deg)
		brightness(101%) contrast(101%);
}

.filter-white {
	filter: brightness(0) invert(1);
}

@keyframes zoom-in-50 {
	from {
		opacity: 0;
		transform: scale(0.5);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes zoom-in-95 {
	from {
		opacity: 0;
		transform: scale(0.95);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}
